body{
  background-color:#269920;
  text-align: center;
  border: 50px solid yellow;
  border-top: 0px;
  padding-bottom: 20px;
}

table{
  margin: auto;
}

td{
  width:300px;
  height:40px;
}

.list{
  text-align: left;
}

h1{
  color: blue;
  text-align: center;
}
ol{

}

#submit{
  width: 150px;
  height: 80px;
  border-top-width: thick;
  border-color: #269920;
  border-radius: 20px;
  background-color: orange;
  color:red;
}

.navbar {
  margin-bottom: 20px;
}
